<%# locals: (categories:) %>
<% all_tags = categories.flat_map { |c| c.recipes.flat_map(&:tags) }.uniq(&:name).sort_by(&:name) %>

<div data-controller="recipe-filter">
  <div id="recipe-listings" class="index-nav">
    <div class="index-nav-section">
      <div class="index-nav-zone-header">
        <span class="index-nav-zone-label">Categories</span>
        <% if current_member? %>
          <button type="button" id="edit-categories-button" class="index-nav-zone-edit">
            <%= icon(:edit, size: 10) %> edit
          </button>
        <% end %>
      </div>
      <div class="index-nav-categories">
        <% categories.each do |category| %>
          <span class="index-nav-link" data-recipe-filter-target="tocLink" data-category="<%= category.slug %>">
            <%= link_to category.name, "##{category.slug}" %>
          </span>
        <% end %>
      </div>
    </div>
    <% if all_tags.any? %>
      <div class="index-nav-divider"></div>
      <div class="index-nav-section">
        <div class="index-nav-zone-header">
          <span class="index-nav-zone-label">Tags</span>
          <% if current_member? %>
            <button type="button" id="edit-tags-button" class="index-nav-zone-edit">
              <%= icon(:tag, size: 10) %> edit
            </button>
          <% end %>
        </div>
        <div class="index-nav-tags">
          <% all_tags.each do |tag| %>
            <% smart = smart_tag_pill_attrs(tag.name) %>
            <button type="button"
                    class="tag-filter-pill <%= smart.dig(:class)&.join(' ') %>"
                    data-recipe-filter-target="tag"
                    data-tag="<%= tag.name %>"
                    data-action="click->recipe-filter#toggle"><% if smart.dig(:data, :smart_emoji) %><span class="smart-icon<%= ' smart-icon--crossout' if smart.dig(:class)&.include?('tag-pill--crossout') %>"><%= smart.dig(:data, :smart_emoji) %></span><% end %><%= tag.name %></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% categories.each do |category| %>
    <section id="<%= category.slug %>" data-recipe-filter-target="category">
      <div class="category-heading">
        <h2><%= category.name %></h2>
        <a href="#recipe-listings" class="category-top-link">&uarr; top</a>
      </div>
      <div class="recipe-card-grid">
        <% category.recipes.sort_by(&:title).each do |recipe| %>
          <% sorted_tags = recipe.tags.sort_by(&:name) %>
          <div class="recipe-card"
               data-recipe-filter-target="card"
               data-tags="<%= sorted_tags.map(&:name).join(',') %>">
            <%= link_to recipe.title, recipe_path(recipe.slug), class: 'recipe-card-title' %>
            <% if recipe.description.present? %>
              <p class="recipe-description"><%= recipe.description %></p>
            <% end %>
            <% if sorted_tags.any? %>
              <div class="recipe-tag-list">
                <% sorted_tags.each do |tag| %>
                  <% smart = smart_tag_pill_attrs(tag.name) %>
                  <span class="recipe-tag tag-pill tag-pill--tag <%= smart.dig(:class)&.join(' ') %>"><% if smart.dig(:data, :smart_emoji) %><span class="smart-icon<%= ' smart-icon--crossout' if smart.dig(:class)&.include?('tag-pill--crossout') %>"><%= smart.dig(:data, :smart_emoji) %></span><% end %><%= tag.name %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
