<%# locals: (categories:) %>
<% all_tags = categories.flat_map { |c| c.recipes.flat_map(&:tags) }.uniq(&:name).sort_by(&:name) %>

<div id="recipe-listings" data-controller="recipe-filter">
  <% if all_tags.any? %>
    <div class="tag-filter-bar">
      <span class="tag-filter-label">Filter by tag:</span>
      <% all_tags.each do |tag| %>
        <button type="button"
                class="tag-filter-pill"
                data-recipe-filter-target="tag"
                data-tag="<%= tag.name %>"
                data-action="click->recipe-filter#toggle">
          <%= tag.name %>
        </button>
      <% end %>
    </div>
  <% end %>

  <div class="toc_nav" data-recipe-filter-target="toc">
    <ul>
      <% categories.each do |category| %>
        <li data-recipe-filter-target="tocLink" data-category="<%= category.slug %>">
          <%= link_to category.name, "##{category.slug}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <% categories.each do |category| %>
    <section id="<%= category.slug %>" data-recipe-filter-target="category">
      <div class="category-heading">
        <h2><%= category.name %></h2>
        <a href="#recipe-listings" class="back-to-top">&uarr; top</a>
      </div>
      <div class="recipe-card-grid">
        <% category.recipes.sort_by(&:title).each do |recipe| %>
          <% sorted_tags = recipe.tags.sort_by(&:name) %>
          <div class="recipe-card"
               data-recipe-filter-target="card"
               data-tags="<%= sorted_tags.map(&:name).join(',') %>">
            <%= link_to recipe.title, recipe_path(recipe.slug), class: 'recipe-card-title' %>
            <% if recipe.description.present? %>
              <p class="recipe-description"><%= recipe.description %></p>
            <% end %>
            <% if sorted_tags.any? %>
              <div class="recipe-tag-list">
                <% sorted_tags.each do |tag| %>
                  <span class="recipe-tag"><%= tag.name %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <p class="filter-empty-msg">No recipes match the current filter</p>
    </section>
  <% end %>
</div>
