<% content_for(:title) { @site_config.site_title } %>

<% if current_kitchen.member?(current_user) %>
<% content_for(:extra_nav) do %>
    <div>
      <button type="button" id="new-recipe-button" class="btn">+ New</button>
    </div>
<% end %>
<% end %>

<article class="homepage">
  <header>
    <h1><%= @site_config.homepage_heading %></h1>
    <p><%= @site_config.homepage_subtitle %></p>
  </header>

  <div class="toc_nav">
    <ul>
      <%- @categories.each do |category| -%>
      <li><%= link_to category.name, "##{category.slug}" %></li>
      <%- end -%>
    </ul>
  </div>

  <%- @categories.each do |category| -%>
  <section id="<%= category.slug %>">
    <h2><%= category.name %></h2>
    <ul>
      <%- category.recipes.sort_by(&:title).each do |recipe| -%>
      <li><%= link_to recipe.title, recipe_path(recipe.slug), title: recipe.description %></li>
      <%- end -%>
    </ul>
  </section>
  <%- end -%>

  <footer>
    <p>For more information, visit <a href="<%= @site_config.github_url %>">our project page on GitHub</a>.</p>
  </footer>
</article>

<% if current_kitchen.member?(current_user) %>
<%= render layout: 'shared/editor_dialog',
    locals: { title: 'New Recipe',
              id: 'recipe-editor',
              dialog_data: { editor_open: '#new-recipe-button',
                             editor_url: recipes_path,
                             editor_method: 'POST',
                             editor_on_success: 'redirect',
                             editor_body_key: 'markdown_source' } } do %>
  <textarea class="editor-textarea" data-editor-target="textarea" spellcheck="false"><%= "# Recipe Title\n\nOptional description.\n\nCategory: \nMakes: \nServes: \n\n## Step Name (short summary)\n\n- Ingredient, quantity: prep note\n\nInstructions here.\n\n---\n\nOptional notes or source." %></textarea>
<% end %>
<% end %>
