<% content_for(:title) { "#{current_kitchen.name}: #{@recipe.title}" } %>

<% content_for(:body_attrs) do %>
  data-recipe-id="<%= @recipe.slug %>" data-version-hash="<%= Digest::SHA256.hexdigest(@recipe.markdown_source) %>"
<% end %>

<% if current_member? %>
  <%= turbo_stream_from current_kitchen, :updates %>
  <%= turbo_stream_from @recipe, "content" %>
<% end %>

<%= render 'recipes/recipe_content', recipe: @recipe, nutrition: @nutrition %>

<% if current_member? %>
<%= render layout: 'shared/editor_dialog',
    locals: { title: 'Edit Nutrition',
              id: 'nutrition-editor',
              dialog_data: { extra_controllers: 'nutrition-editor',
                             editor_on_success: 'close' },
              extra_data: {
                'nutrition-editor-base-url-value' => nutrition_entry_upsert_path(ingredient_name: '__NAME__'),
                'nutrition-editor-edit-url-value' => ingredient_edit_path(ingredient_name: '__NAME__'),
                'nutrition-editor-usda-search-url-value' => usda_search_path,
                'nutrition-editor-usda-show-url-value' => usda_show_path(fdc_id: '__FDC_ID__')
              } } do %>
  <div class="editor-body">
    <turbo-frame id="nutrition-editor-form">
      <p class="loading-placeholder">Loading&hellip;</p>
    </turbo-frame>
  </div>
<% end %>

<%= render layout: 'shared/editor_dialog',
    locals: { title: "Editing: #{@recipe.title}",
              id: 'recipe-editor',
              dialog_data: { editor_open: '#edit-button',
                             editor_url: recipe_path(@recipe.slug),
                             editor_method: 'PATCH',
                             editor_on_success: 'close',
                             editor_body_key: 'markdown_source',
                             editor_load_url: recipe_content_path(@recipe.slug),
                             editor_load_key: 'markdown_source',
                             extra_controllers: 'recipe-editor' },
              footer_extra: render('recipes/editor_delete_button', recipe: @recipe) } do %>
  <div class="editor-body-split">
    <textarea class="editor-textarea" data-editor-target="textarea"
              data-recipe-editor-target="textarea" spellcheck="false"
              placeholder="Loading..."></textarea>
    <div class="editor-side-panel">
      <div class="side-section">
        <label for="edit-recipe-category">Category</label>
        <select id="edit-recipe-category" class="category-select"
                data-recipe-editor-target="categorySelect">
          <% @all_categories.each do |cat| %>
            <option value="<%= cat.name %>" <%= 'selected' if cat == @recipe.category %>><%= cat.name %></option>
          <% end %>
          <option disabled>&#x2500;&#x2500;&#x2500;</option>
          <option value="__new__">New category&hellip;</option>
        </select>
        <input type="text" class="category-new-input" placeholder="New category name"
               data-recipe-editor-target="categoryInput" hidden maxlength="50">
      </div>
      <div class="side-section" data-controller="tag-input"
           data-tag-input-tags-value='<%= @recipe.tags.pluck(:name).to_json %>'
           data-tag-input-all-tags-value='<%= current_kitchen.tags.left_joins(:recipe_tags).group(:id).order(:name).pluck(:name, Arel.sql("COUNT(recipe_tags.id)")).to_json %>'>
        <label>Tags</label>
        <div class="tag-pills-editor" data-tag-input-target="pills"></div>
        <div class="tag-autocomplete-wrapper">
          <input type="text" class="tag-text-input" placeholder="Add tag..."
                 data-tag-input-target="input"
                 data-action="input->tag-input#onInput keydown->tag-input#onKeydown"
                 maxlength="30">
          <div class="tag-autocomplete" data-tag-input-target="dropdown" hidden></div>
        </div>
      </div>
    </div>
  </div>
  <div class="editor-mobile-meta" data-action="click->recipe-editor#toggleMobilePanel">
    <span class="editor-mobile-meta__chevron">&#x25BC;</span>
    <span>Category &amp; Tags</span>
    <div class="editor-mobile-meta__preview" data-recipe-editor-target="mobilePillPreview"></div>
  </div>
<% end %>
<% end %>
