<% content_for(:title) { "#{current_kitchen.name}: #{@recipe.title}" } %>

<% content_for(:body_attrs) do %>
  data-recipe-id="<%= @recipe.slug %>" data-version-hash="<%= Digest::SHA256.hexdigest(@recipe.markdown_source) %>"
<% end %>

<% content_for(:extra_nav) do %>
    <div>
      <% if current_kitchen.member?(current_user) %>
      <button type="button" id="edit-button" class="btn">Edit</button>
      <% end %>
      <button type="button" id="scale-button" class="btn">Scale</button>
    </div>
<% end %>

<% if current_user && current_kitchen.member?(current_user) %>
  <%= turbo_stream_from @recipe, "content" %>
<% end %>

<%= render 'recipes/recipe_content', recipe: @recipe, nutrition: @nutrition %>

<% if current_kitchen.member?(current_user) %>
<%= render layout: 'shared/editor_dialog',
    locals: { title: "Editing: #{@recipe.title}",
              id: 'recipe-editor',
              dialog_data: { editor_open: '#edit-button',
                             editor_url: recipe_path(@recipe.slug),
                             editor_method: 'PATCH',
                             editor_on_success: 'redirect',
                             editor_body_key: 'markdown_source' },
              footer_extra: render('recipes/editor_delete_button', recipe: @recipe) } do %>
  <textarea class="editor-textarea" data-editor-target="textarea" spellcheck="false"><%= @recipe.markdown_source %></textarea>
<% end %>
<% end %>
