<% content_for(:title) { @recipe.title } %>

<% content_for(:body_attrs) do %>
  data-recipe-id="<%= @recipe.slug %>" data-version-hash="<%= Digest::SHA256.hexdigest(@recipe.markdown_source) %>"
<% end %>

<% content_for(:extra_nav) do %>
    <div>
      <% if current_kitchen.member?(current_user) %>
      <button type="button" id="edit-button" class="btn">Edit</button>
      <% end %>
      <button type="button" id="scale-button" class="btn">Scale</button>
    </div>
<% end %>

<% content_for(:scripts) do %>
  <%= javascript_include_tag 'notify', defer: true %>
  <%= javascript_include_tag 'wake-lock', defer: true %>
  <%= javascript_include_tag 'recipe-state-manager', defer: true %>
  <%= javascript_include_tag 'recipe-editor', defer: true %>
<% end %>

<article class="recipe">
  <header>
    <h1><%= @recipe.title %></h1>
    <%- if @recipe.description.present? -%>
    <p><%= @recipe.description %></p>
    <%- end -%>
    <p class="recipe-meta">
      <%= link_to @recipe.category.name, kitchen_root_path(anchor: @recipe.category.slug) %><%- if @recipe.makes -%>
      <%- if @nutrition&.dig('makes_unit_singular') -%>
      &middot; Makes <%= format_yield_with_unit(@recipe.makes, @nutrition['makes_unit_singular'], @nutrition['makes_unit_plural']) %><%- else -%>
      &middot; Makes <%= format_yield_line(@recipe.makes) %><%- end -%><%- end -%><%- if @recipe.serves -%>
      &middot; Serves <%= format_yield_line(@recipe.serves.to_s) %><%- end -%>
    </p>
  </header>

  <% @recipe.steps.each do |step| %>
    <%= render 'step', step: step %>
  <% end %>

  <footer>
    <%- if @recipe.footer.present? -%>
    <%= render_markdown(@recipe.footer) %>
    <%- end -%>
  </footer>

  <%- if @nutrition && @nutrition['totals']&.values&.any? { |v| v.to_f > 0 } -%>
    <%= render 'nutrition_table', nutrition: @nutrition %>
  <%- end -%>
</article>

<% if current_kitchen.member?(current_user) %>
<%= render 'editor_dialog',
           mode: :edit,
           content: @recipe.markdown_source,
           action_url: recipe_path(@recipe.slug),
           recipe: @recipe %>
<% end %>
