<% content_for(:title) { "#{current_kitchen.name}: #{@recipe.title}" } %>

<% content_for(:body_attrs) do %>
  data-recipe-id="<%= @recipe.slug %>" data-version-hash="<%= Digest::SHA256.hexdigest(@recipe.markdown_source) %>"
<% end %>

<% content_for(:extra_nav) do %>
    <div>
      <% if current_kitchen.member?(current_user) %>
      <button type="button" id="edit-button" class="btn">Edit</button>
      <% end %>
      <button type="button" id="scale-button" class="btn">Scale</button>
    </div>
<% end %>

<% content_for(:scripts) do %>
  <%= javascript_include_tag 'notify', defer: true %>
  <%= javascript_include_tag 'recipe-state-manager', defer: true %>
  <%= javascript_include_tag 'editor-utils', defer: true %>
  <%= javascript_include_tag 'editor-framework', defer: true %>
<% end %>

<article class="recipe" data-controller="wake-lock">
  <header>
    <h1><%= @recipe.title %></h1>
    <%- if @recipe.description.present? -%>
    <p><%= @recipe.description %></p>
    <%- end -%>
    <p class="recipe-meta">
      <%= link_to @recipe.category.name, home_path(anchor: @recipe.category.slug) %><%- if @recipe.makes -%>
      <%- if @nutrition&.dig('makes_unit_singular') -%>
      &middot; Makes <%= format_yield_with_unit(@recipe.makes, @nutrition['makes_unit_singular'], @nutrition['makes_unit_plural']) %><%- else -%>
      &middot; Makes <%= format_yield_line(@recipe.makes) %><%- end -%><%- end -%><%- if @recipe.serves -%>
      &middot; Serves <%= format_yield_line(@recipe.serves.to_s) %><%- end -%>
    </p>
  </header>

  <% @recipe.steps.each do |step| %>
    <%= render 'step', step: step %>
  <% end %>

  <%- if @recipe.footer.present? -%>
  <footer>
    <%= render_markdown(@recipe.footer) %>
  </footer>
  <%- end -%>

  <%- if @nutrition && @nutrition['totals']&.values&.any? { |v| v.to_f > 0 } -%>
    <%= render 'nutrition_table', nutrition: @nutrition %>
  <%- end -%>
</article>

<% if current_kitchen.member?(current_user) %>
<%= render layout: 'shared/editor_dialog',
    locals: { title: "Editing: #{@recipe.title}",
              id: 'recipe-editor',
              dialog_data: { editor_open: '#edit-button',
                             editor_url: recipe_path(@recipe.slug),
                             editor_method: 'PATCH',
                             editor_on_success: 'redirect',
                             editor_body_key: 'markdown_source' },
              footer_extra: render('recipes/editor_delete_button', recipe: @recipe) } do %>
  <textarea class="editor-textarea" spellcheck="false"><%= @recipe.markdown_source %></textarea>
<% end %>
<% end %>
