<%= render.call('head', title: "#{site_config['site_title']}: Index", base_path: '../') %>

<body>
<%= render.call('nav') %>

  <main>
    <article class="index">
      <header>
        <h1>Ingredient Index</h1>
      </header>

      <%- sorted_ingredients.each do |ingredient, recipes| -%>
      <section>
        <h2><%= ingredient %></h2>
        <ul>
          <%- recipes.each do |recipe| -%>
          <li><a href="<%= recipe.relative_url %>" title="<%= recipe.description %>"><%= recipe.title %></a></li>
          <%- end -%>
        </ul>
      </section>
      <%- end -%>

    </article>
  </main>
</body>
</html>
