<%= render.call('head', title: title, base_path: './') %>

<%- extra_nav = <<HTML
    <div>
      <button type="button" id="scale-button">Scale</button>
    </div>
HTML
-%>

<body data-recipe-id="<%= id %>" data-version-hash="<%= version_hash %>">
<%= render.call('nav', extra_nav: extra_nav) %>

  <main>
    <article class="recipe">
      <header>
        <h1><%= title %></h1>
        <%- if description -%>
        <p><%= description %></p>
        <%- end -%>
        <%- if yield_line -%>
        <p class="yield-line"><%= ScalableNumberPreprocessor.process_yield_line(yield_line) %></p>
        <%- end -%>
      </header>

      <%- steps.each do |step| -%>
      <section>
        <h2><%= step.tldr %></h2>
        <div>
          <%- unless step.ingredient_list_items.empty? -%>
          <div class="ingredients">
            <ul>
              <%- step.ingredient_list_items.each do |item| -%>
              <%- if item.is_a?(CrossReference) -%>
              <li class="cross-reference"><b><a href="<%= item.target_slug %>"><%= item.target_title %></a></b><% if item.multiplier != 1.0 %>, <span class="quantity"><%= item.multiplier == item.multiplier.to_i ? item.multiplier.to_i : item.multiplier %></span><% end %>
              <%- if item.prep_note -%>
                <small><%= item.prep_note %></small>
              <%- end -%>
              </li>
              <%- else -%>
              <li<% if item.quantity_value %> data-quantity-value="<%= item.quantity_value %>" data-quantity-unit="<%= item.quantity_unit %>"<% end %>>
                <b><%= item.name %></b><% if item.quantity %>, <span class="quantity"><%= item.quantity%></span><% end %>
              <%- if item.prep_note -%>
                <small><%= item.prep_note %></small>
              <%- end -%>
              </li>
              <%- end -%>
              <%- end -%>
            </ul>
          </div>
          <%- end -%>

          <%- unless step.instructions.empty? -%>
          <div class="instructions">
            <%= markdown.render(ScalableNumberPreprocessor.process_instructions(step.instructions)).strip.gsub(/\n\n+/, "\n").gsub("\n", "\n            ") %>
          </div>
          <%- end -%>
        </div>
      </section>
      <%- end -%>

      <footer>
        <%- if footer -%>
        <%= markdown.render(footer) %>
        <%- end -%>
      </footer>
    </article>
  </main>
  <script src="notify.js" defer></script>
  <script src="wake-lock.js" defer></script>
  <script src="recipe-state-manager.js" defer></script>
</body>
</html>
