<%= render.call('head', title: title, base_path: './') %>

<%- extra_nav = <<~HTML
    <div>
      <button type="button" id="scale-button">Scale</button>
    </div>
HTML
-%>

<body data-recipe-id="<%= id %>" data-version-hash="<%= version_hash %>">
<%= render.call('nav', extra_nav: extra_nav) %>

  <main>
    <article class="recipe">
      <header>
        <h1><%= title %></h1>
        <%- if description -%>
        <p><%= description %></p>
        <%- end -%>
        <%- if yield_line -%>
        <p class="yield-line"><%= ScalableNumberPreprocessor.process_yield_line(yield_line) %></p>
        <%- end -%>
      </header>

      <%- steps.each do |step| -%>
      <section>
        <h2><%= step.tldr %></h2>
        <div>
          <%- unless step.ingredients.empty? -%>
          <div class="ingredients">
            <ul>
              <%- step.ingredients.each do |ingredient| -%>
              <li<% if ingredient.quantity_value %> data-quantity-value="<%= ingredient.quantity_value %>" data-quantity-unit="<%= ingredient.quantity_unit %>"<% end %>>
                <b><%= ingredient.name %></b><% if ingredient.quantity %>, <span class="quantity"><%= ingredient.quantity%></span><% end %>
                <%- if ingredient.prep_note -%><small><%= ingredient.prep_note %></small><%- end -%>
              </li>
              <%- end -%>
            </ul>
          </div>
          <%- end -%>

          <%- unless step.instructions.empty? -%>
          <div class="instructions">
            <%= markdown.render(ScalableNumberPreprocessor.process_instructions(step.instructions)) %>
          </div>
          <%- end -%>
        </div>
      </section>
      <%- end -%>

      <footer>
        <%- if footer -%>
        <%= markdown.render(footer) %>
        <%- end -%>
      </footer>
    </article>
  </main>
  <script src="recipe-state-manager.js" defer></script>
</body>
</html>
