<% if current_kitchen %>
  <%= link_to home_path, class: 'recipes', title: 'Recipes (Table of Contents)',
      aria: { label: 'Recipes', current: ('page' if controller_name.in?(%w[landing homepage recipes categories])) } do %>
    <%= icon(:book, class: 'nav-icon', size: nil) %>
    <span>Recipes</span>
  <% end %>
  <% if logged_in? %>
    <%= link_to ingredients_path, class: 'ingredients', title: 'Ingredients',
        aria: { label: 'Ingredients', current: ('page' if controller_name == 'ingredients') } do %>
      <%= icon(:ingredients, class: 'nav-icon', size: nil) %>
      <span>Ingredients</span>
    <% end %>
    <%= link_to menu_path, class: 'menu', title: 'Plan your meals',
        aria: { label: 'Menu', current: ('page' if controller_name == 'menu') } do %>
      <%= icon(:menu, class: 'nav-icon', size: nil) %>
      <span>Menu</span>
    <% end %>
    <%= link_to groceries_path, class: 'groceries', title: 'Shopping list',
        aria: { label: 'Groceries', current: ('page' if controller_name == 'groceries') } do %>
      <%= icon(:cart, class: 'nav-icon', size: nil) %>
      <span>Groceries</span>
    <% end %>
  <% end %>
<% else %>
  <%= link_to root_path, class: 'recipes', title: 'Recipes',
      aria: { label: 'Recipes', current: 'page' } do %>
    <%= icon(:book, class: 'nav-icon', size: nil) %>
    <span>Recipes</span>
  <% end %>
<% end %>
