  <nav>
    <div>
      <% if current_kitchen %>
        <%= link_to 'Home', home_path, class: 'home', title: 'Home (Table of Contents)' %>
        <% if logged_in? %>
          <%= link_to 'Ingredients', ingredients_path, class: 'ingredients', title: 'Ingredients' %>
          <%= link_to 'Groceries', groceries_path, class: 'groceries', title: 'Printable grocery list' %>
        <% end %>
      <% else %>
        <%= link_to 'Home', root_path, class: 'home', title: 'Home' %>
      <% end %>
    </div>
    <%= yield :extra_nav if content_for?(:extra_nav) %>
  </nav>
