<%# locals: (row:) %>
<tbody id="ingredient-<%= row[:name].parameterize %>">
<tr class="ingredient-row"
    data-ingredient-table-target="row"
    data-ingredient-name="<%= row[:name] %>"
    data-status="<%= row[:status] %>"
    data-has-nutrition="<%= row[:has_nutrition] %>"
    data-aisle="<%= row[:aisle] || '' %>"
    data-recipe-count="<%= row[:recipe_count] %>"
    data-resolvable="<%= row[:resolvable] %>"
    data-omit="<%= row[:omit_from_shopping] %>"
    data-source="<%= row[:source] %>"
    data-qb-only="<%= row[:qb_only] %>"
    data-open-editor
    tabindex="0"
    role="button"
    data-action="click->ingredient-table#openEditor keydown->ingredient-table#rowKeydown">
  <td class="col-name">
    <%= row[:name] %>
    <% if row[:source] == 'custom' %>
      <span class="ingredient-icons">
        <%= icon(:edit, size: 14, class: 'ingredient-icon', 'aria-label': 'Custom entry', 'aria-hidden': nil) %>
      </span>
    <% end %>
  </td>
  <td class="col-aisle"><%= display_aisle(row[:aisle]) %></td>
  <td class="col-recipes"><%= row[:recipe_count] %></td>
</tr>
</tbody>
