<% content_for(:title) { "#{current_kitchen.name}: Ingredients" } %>

<article class="index ingredients">
  <header>
    <h1>Ingredients</h1>
  </header>

  <%- if current_kitchen.member?(current_user) && @missing_ingredients.any? -%>
  <details class="nutrition-banner">
    <summary><%= @missing_ingredients.size %> ingredient<%= 's' unless @missing_ingredients.size == 1 %> need<%= 's' if @missing_ingredients.size == 1 %> nutrition data</summary>
    <p class="nutrition-banner-list">
      <%- @missing_ingredients.each_with_index do |name, i| -%>
        <%- unless i.zero? %> &middot; <% end -%>
        <a href="#ingredient-<%= name.parameterize %>" class="nutrition-banner-link"><%= name %></a>
      <%- end -%>
    </p>
  </details>
  <%- end -%>

  <%- @ingredients_with_recipes.each do |ingredient, recipes| -%>
  <section id="ingredient-<%= ingredient.parameterize %>">
    <h2>
      <%= ingredient %>
      <%- if current_kitchen.member?(current_user) -%>
        <%- entry = @nutrition_lookup[ingredient] -%>
        <%- if entry.nil? -%>
          <span class="nutrition-badge nutrition-missing" title="No nutrition data">!</span>
          <button type="button" class="btn-link nutrition-edit-btn"
                  data-ingredient="<%= ingredient %>"
                  data-nutrition-text="<%= NutritionLabelParser.blank_skeleton %>"
                  data-aisle="">+ Add nutrition</button>
        <%- elsif entry.global? -%>
          <span class="nutrition-badge nutrition-global" title="Built-in nutrition data">built-in</span>
          <button type="button" class="btn-link nutrition-edit-btn"
                  data-ingredient="<%= ingredient %>"
                  data-nutrition-text="<%= NutritionLabelParser.format(entry) %>"
                  data-aisle="<%= entry&.aisle %>">Edit</button>
        <%- else -%>
          <span class="nutrition-badge nutrition-custom" title="Custom nutrition data">custom</span>
          <button type="button" class="btn-link nutrition-edit-btn"
                  data-ingredient="<%= ingredient %>"
                  data-nutrition-text="<%= NutritionLabelParser.format(entry) %>"
                  data-aisle="<%= entry&.aisle %>">Edit</button>
          <button type="button" class="btn-link nutrition-reset-btn"
                  data-ingredient="<%= ingredient %>">Reset</button>
        <%- end -%>
      <%- end -%>
    </h2>
    <ul>
      <%- recipes.each do |recipe| -%>
      <li><%= link_to recipe.title, recipe_path(recipe.slug), title: recipe.description %></li>
      <%- end -%>
    </ul>
  </section>
  <%- end -%>
</article>

<% if current_kitchen.member?(current_user) %>
<%= render layout: 'shared/editor_dialog',
    locals: { title: 'Edit Nutrition',
              id: 'nutrition-editor',
              dialog_data: { editor_on_success: 'reload' },
              footer_extra: render('ingredients/aisle_selector', aisles: @available_aisles) } do %>
  <textarea id="nutrition-editor-textarea" class="editor-textarea" spellcheck="false"></textarea>
<% end %>
<% end %>

<% content_for(:scripts) do %>
  <%= javascript_include_tag 'editor-utils', defer: true %>
  <%= javascript_include_tag 'editor-framework', defer: true %>
  <%= javascript_include_tag 'nutrition-editor', defer: true %>
<% end %>
