<%# locals: (custom_items: {}) %>
<div id="custom-items-section">
  <div id="custom-input-row">
    <label for="custom-input" class="sr-only">Add a custom item</label>
    <input type="text" id="custom-input" class="input-base input-lg" style="font-size:16px" placeholder="Add an item... (@ Aisle)">
    <button id="custom-add" class="btn-icon-round btn-icon-round-lg btn-primary" type="button" aria-label="Add item"><%= icon(:plus, size: 18) %></button>
  </div>
  <ul id="custom-items-list">
    <% custom_items.each do |name, entry| %>
      <li>
        <span><%= name %><% if entry['aisle'] && entry['aisle'] != 'Miscellaneous' %> <span class="custom-item-aisle"><%= entry['aisle'] %></span><% end %></span>
        <button class="custom-item-remove" type="button" aria-label="Remove <%= name %>" data-item="<%= name %>">×</button>
      </li>
    <% end %>
  </ul>
</div>
