<%# locals: (shopping_list:, checked_off:) %>
<div class="shopping-list-header">
  <h2>Shopping List</h2>
  <span id="item-count"><%= shopping_list_count_text(shopping_list, checked_off) %></span>
</div>

<% if shopping_list.empty? %>
  <p id="grocery-preview-empty">No items yet.</p>
<% else %>
  <% shopping_list.each do |aisle, items| %>
    <details class="aisle" data-aisle="<%= aisle %>" open>
      <summary><%= aisle %> <span class="aisle-count">(<%= items.size %>)</span></summary>
      <ul>
        <% items.each do |item| %>
          <li data-item="<%= item[:name] %>"<%= " title=\"Needed for: #{h item[:sources].join(', ')}\"".html_safe if item[:sources].present? %>>
            <label class="check-off">
              <input type="checkbox" data-item="<%= item[:name] %>"<%= ' checked' if checked_off.include?(item[:name]) %>>
              <span class="item-text"><%= item[:name] %><% amount_str = format_amounts(item[:amounts]) %><% if amount_str.present? %> <span class="item-amount"><%= amount_str %></span><% end %></span>
            </label>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>
<% end %>
