<%# locals: (shopping_list:, on_hand_names:) %>
<div class="shopping-list-header">
  <h2>Shopping List</h2>
  <span id="item-count"><%= shopping_list_count_text(shopping_list, on_hand_names) %></span>
</div>

<% if shopping_list.empty? %>
  <p id="grocery-preview-empty">No items yet.</p>
<% else %>
  <% shopping_list.each_with_index do |(aisle, items), idx| %>
    <% unchecked, checked = items.partition { |i| on_hand_names.exclude?(i[:name]) } %>
    <% if unchecked.empty? %>
      <section class="aisle-group aisle-complete" data-aisle="<%= aisle %>">
        <details class="collapse-header on-hand-section aisle-complete-header">
          <summary>
            <span class="aisle-complete-check">&#10003;</span>
            <span class="aisle-name"><%= aisle %></span>
            <span class="aisle-complete-detail"><%= checked.size %> <%= 'item'.pluralize(checked.size) %>, all on hand</span>
          </summary>
        </details>
        <div class="collapse-body on-hand-body">
          <div class="collapse-inner">
            <ul class="on-hand-items">
              <% checked.each do |item| %>
                <li data-item="<%= item[:name] %>"<%= " title=\"Needed for: #{h item[:sources].join(', ')}\"".html_safe if item[:sources].present? %>>
                  <label class="check-off">
                    <input class="custom-checkbox" type="checkbox" data-item="<%= item[:name] %>" checked>
                    <span class="item-text"><%= item[:name] %><% amount_str = format_amounts(item[:amounts], uncounted: item[:uncounted]) %><% if amount_str.present? %> <span class="item-amount"><%= amount_str %></span><% end %></span>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </section>
    <% else %>
      <section class="aisle-group" data-aisle="<%= aisle %>">
        <h3 class="aisle-header"><%= aisle %></h3>
        <ul class="to-buy-items">
          <% unchecked.each do |item| %>
            <li data-item="<%= item[:name] %>"<%= " title=\"Needed for: #{h item[:sources].join(', ')}\"".html_safe if item[:sources].present? %>>
              <label class="check-off">
                <input class="custom-checkbox" type="checkbox" data-item="<%= item[:name] %>">
                <span class="item-text"><%= item[:name] %><% amount_str = format_amounts(item[:amounts], uncounted: item[:uncounted]) %><% if amount_str.present? %> <span class="item-amount"><%= amount_str %></span><% end %></span>
              </label>
            </li>
          <% end %>
        </ul>
        <% if checked.any? %>
          <details class="collapse-header on-hand-section on-hand-divider">
            <summary>
              <span class="on-hand-count"><%= checked.size %> on hand</span>
            </summary>
          </details>
          <div class="collapse-body on-hand-body">
            <div class="collapse-inner">
              <ul class="on-hand-items">
                <% checked.each do |item| %>
                  <li data-item="<%= item[:name] %>"<%= " title=\"Needed for: #{h item[:sources].join(', ')}\"".html_safe if item[:sources].present? %>>
                    <label class="check-off">
                      <input class="custom-checkbox" type="checkbox" data-item="<%= item[:name] %>" checked>
                      <span class="item-text"><%= item[:name] %><% amount_str = format_amounts(item[:amounts], uncounted: item[:uncounted]) %><% if amount_str.present? %> <span class="item-amount"><%= amount_str %></span><% end %></span>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </section>
    <% end %>
  <% end %>
<% end %>
