<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="theme-color" content="rgb(205, 71, 84)">
  <title><%= content_for?(:title) ? content_for(:title) : Rails.configuration.site.site_title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'style', "data-turbo-track": "reload" %>
  <link rel="icon" type="image/svg+xml" href="<%= asset_path('favicon.svg') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= versioned_icon_path('favicon-32.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= versioned_icon_path('apple-touch-icon.png') %>">
  <link rel="manifest" href="/manifest.json">
  <%= javascript_importmap_tags %>
  <%= yield :head %>
</head>
<body <%= yield :body_attrs %>>
  <%= render 'shared/nav' %>
  <main>
    <%= yield %>
  </main>
</body>
</html>
